@use "../globals.module.scss" as globals;

// DESKTOP //

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  height: fit-content;
  margin-bottom: 7rem;
  .card {
    margin-bottom: 7rem;
    width: 400px;
    min-width: 270px;
    height: 300px;
    border-left: 1px solid black;
    padding-left: 2rem;
    position: relative;
    display: flex;
    .details {
      display: flex;
      align-items: center;
      img {
        width: 15rem;
        height: 230px;
        border: 1px solid black;
        z-index: 0;
      }
      .detailsText {
        margin-left: 1rem;
        h2 {
          font-size: 2.5rem;
          font-family: serif;
          margin-bottom: 1rem;
        }
        p {
          font-size: 1.5rem;
          margin-bottom: 1rem;
        }
      }
    }
    .infos {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      opacity: 0;
      width: 100%;
      height: 100%;
      padding: 0 2rem;
      .oldCreation {
        text-align: center;
        font-size: 1.2rem;
      }
      .newCreation {
        text-align: justify;
        font-size: 1.2rem;
      }
      .legals {
        margin: 1rem 0 0.5rem 0;
        font-size: 1.1rem;
      }
      a {
        font-size: 1.3rem;
        color: globals.$color-2;
        border: 1px solid globals.$color-2;
        padding: 1rem 2rem;
        margin-top: 2rem;
        transition: transform 300ms;
        &:hover {
          transform: scale(1.1);
        }
      }
      &:hover {
        opacity: 0.8;
        background-color: black;
        color: globals.$color-2;
        transition: 0.5s;
        cursor: pointer;
      }
    }
  }
}

// SMALL SCREENS, LAPTOPS //

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    .card {
      .details {
        .detailsText {
          h2 {
            font-size: 2rem;
          }
        }
      }
    }
  }
}

// IPADS, TABLETS //

@media screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    .card {
      .details {
        .detailsText {
          h2 {
            font-size: 1.8rem;
          }
          p {
            font-size: 1.3rem;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}

// MOBILE DEVICES //

@media screen and (max-width: 480px) {
  .container {
    .card {
      .details {
        img {
          width: 13rem;
          height: 200px;
          border: 1px solid black;
          z-index: 0;
        }
        .detailsText {
          h2 {
            font-size: 1.5rem;
          }
          p {
            font-size: 1.2rem;
          }
        }
      }
      .infos {
        .oldCreation {
          font-size: 1.1rem;
        }
        .newCreation {
          font-size: 1.1rem;
        }
        a {
          font-size: 1.1rem;
          padding: 0.75rem 1.5rem;
          margin-top: 1.5rem;
        }
      }
    }
  }
}
