@use "../globals.module.scss" as globals;

@keyframes disappearing {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// DESKTOP //

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    text-transform: uppercase;
    letter-spacing: 3rem;
    font-size: 4rem;
    font-weight: 300;
    margin: 5rem 0;
  }
  .navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    position: relative;
    width: 100%;
    min-height: 75px;
    padding: 1rem;
    color: globals.$color-2;
    .navbarLinks {
      width: 100%;
      display: flex;
      justify-content: space-around;
      .navbarItem {
        padding: 0 0.3rem;
        font-size: 1.7rem;
        font-weight: 300;
        position: relative;
        a {
          color: black;
          padding: 5px 0px;
          position: relative;
          &:after {
            content: "";
            background: globals.$color-1;
            display: block;
            position: absolute;
            bottom: 0rem;
            left: 50%;
            height: 1px;
            width: 0;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
          }
          &:hover:after {
            width: 100%;
            left: 0;
          }
        }
      }
    }
    .navBurger {
      width: 30px;
      height: 30px;
      background-color: transparent;
      border: none;
      color: inherit;
      display: none;
    }
  }
}

// SMALL SCREENS, LAPTOPS //

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    h1 {
      letter-spacing: 2rem;
      font-size: 3rem;
    }
    .navbar {
      .navbarLinks {
        .navbarItem {
          padding: 0 0.3rem;
          font-size: 1.6rem;
          margin-right: 1rem;
          margin-left: 1rem;
        }
      }
    }
  }
}

// IPADS, TABLETS //

@media screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    h1 {
      letter-spacing: 1.5rem;
      font-size: 2rem;
    }
    .navbar {
      .navbarLinks {
        .navbarItem {
          padding: 0 0.3rem;
          font-size: 1.3rem;
        }
      }
    }
  }
}

// MOBILE DEVICES //

@media screen and (max-width: 600px) {
  .container {
    h1 {
      margin-top: 5rem;
      margin-bottom: 1rem;
    }
    .navbar {
      position: relative;
      padding: 0;
      .navbarLinks {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: -100vw;
        bottom: 0;
        width: 0;
        height: 100vh;
        padding: 2rem;
        background-color: white;
        z-index: 3;
        visibility: hidden;
        transition: all 0.8s ease-out;
        .navbarItem {
          display: block;
          padding: 1.5rem;
          font-size: 5vw;
          a {
            color: black;
          }
        }
      }
      .navBurger {
        display: block;
        z-index: 2;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        .burgerLine,
        .burgerLine::before,
        .burgerLine::after {
          display: block;
          width: 30px;
          height: 1.5px;
          position: relative;
          border-radius: 3px;
          background: black;
          &::before,
          &::after {
            content: "";
            position: absolute;
            left: 0;
          }
          &::before {
            transform: translateY(-12px);
          }
          &::after {
            transform: translateY(12px);
          }
        }
        .burgerLine::before,
        .burgerLine::after {
          content: "";
          position: absolute;
          left: 0;
        }
        .burgerLine::before {
          transform: translateY(-12px);
        }
        .burgerLine::after {
          transform: translateY(12px);
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
    .showNavbar {
      position: relative;
      .navbarLinks {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: 0;
        width: 100vw;
        bottom: 0;
        height: 100vh;
        padding: 2rem;
        background-color: black;
        z-index: 3;
        visibility: visible;
        .navbarItem {
          display: block;
          padding: 1.5rem;
          font-size: 5vw;
          position: relative;
          a {
            color: white;
            font-size: 14px;
            padding: 5px 0px;
            position: relative;
            &:after {
              content: "";
              background: white;
              display: block;
              position: absolute;
              bottom: 0rem;
              left: 50%;
              height: 1px;
              width: 0;
              transition: width 0.3s ease 0s, left 0.3s ease 0s;
            }
            &:hover:after {
              width: 100%;
              left: 0;
            }
          }
        }
      }
      .navBurger {
        animation: disappearing 2s;
        display: block;
        z-index: 3;
        position: absolute;
        top: -5rem;
        right: 4rem;
        .burgerLine,
        .burgerLine::before,
        .burgerLine::after {
          display: block;
          width: 30px;
          height: 1.5px;
          position: relative;
          border-radius: 3px;
          background: white;
          transition: all 0.5s ease-in-out;
          &::before,
          &::after {
            content: "";
            position: absolute;
            left: 0;
          }
          &::before {
            transform: translateY(-12px);
          }
          &::after {
            transform: translateY(12px);
          }
        }
        .burgerLine {
          background: transparent;
          width: 0;
        }
        .burgerLine::before,
        .burgerLine::after {
          content: "";
          position: absolute;
          left: 0;
        }
        .burgerLine::before {
          width: 30px;
          transform: translateY(-12px);
          transform: rotate(45deg);
        }
        .burgerLine::after {
          width: 30px;
          transform: translateY(12px);
          transform: rotate(-45deg);
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 280px) and (max-width: 480px) {
  .container {
    h1 {
      display: inline;
      letter-spacing: 1.5rem;
      font-size: 2rem;
      text-align: center;
    }
  }
}
