@use "../globals.module.scss" as globals;

// DESKTOP //

.container {
  .popupTitle {
    margin-bottom: 6rem;
  }
  .perfTitles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    span {
      font-family: globals.$font-family-2;
      font-size: 3rem;
      font-weight: 100;
    }
    p {
      font-family: globals.$font-family-2;
      font-size: 1.5rem;
      cursor: pointer;
      margin: 0.5rem 2rem;
      padding: 0.5rem 0;
      position: relative;
    }
    .shownPerf {
      color: globals.$color-2;
      &:after {
        @include globals.afterUnderline;
        height: 0.5px;
        background-color: globals.$color-2;
      }
      &:hover:after {
        left: 0;
        width: 100%;
      }
    }
    .notShownPerf {
      color: grey;
      transition: all 0.3s;
      &:hover {
        color: globals.$color-2;
      }
      &:after {
        @include globals.afterUnderline;
        height: 0.5px;
        background-color: globals.$color-2;
      }
      &:hover:after {
        color: globals.$color-2;
        left: 0;
        width: 100%;
      }
    }
  }
}

// CUSTOM QUERIES //

@media screen and (max-width: 1239px) {
  .span {
    opacity: 0;
  }
}

// SMALL SCREENS, LAPTOPS //

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    .perfTitles {
      // flex-direction: column;
      // flex-wrap: nowrap;
      p {
        font-size: 1.4rem;
        word-break: break-word;
        text-align: center;
        // margin: 0 0;
      }
    }
  }
}

// IPADS, TABLETS //

@media screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    .perfTitles {
      flex-direction: column;
      // height: 150px;
      flex-wrap: nowrap;
      p {
        font-size: 1.2rem;
        word-break: break-word;
        text-align: center;
        margin: 0 0;
      }
    }
  }
}

// MOBILE DEVICES //

@media screen and (min-width: 290px) and (max-width: 480px) {
  .container {
    .perfTitles {
      flex-direction: column;
      height: 150px;
      flex-wrap: nowrap;
      p {
        font-size: 1.2rem;
        word-break: break-word;
        text-align: center;
        margin: 0 0;
      }
      .shownPerf {
        &:after {
          height: 0;
        }
      }
      .notShownPerf {
        &:after {
          height: 0;
        }
      }
    }
  }
}
