@use "../globals.module.scss" as globals;

// DESKTOP //

.popupContainer {
  z-index: 2;
  opacity: 0.9;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 280px;
  padding: 25px;
  text-align: justify;
  word-break: break-word;
  color: globals.$color-2;
  background-color: globals.$color-1;
  overflow-y: scroll;
  .icon {
    float: right;
    font-size: 2rem;
    cursor: pointer;
  }
  .popupTitle {
    margin-bottom: 30px;
    font-size: 1.6rem;
    text-align: center;
  }
  .popupText {
    position: relative;
    width: 100%;
    margin-bottom: 80px;
    font-size: 1.2rem;
    .popupTextIdentity,
    .popupTextConditions,
    .popupTextInformations,
    .popupTextProperty,
    .popupTextLinks,
    .popupTextConfidentiality,
    .popupTextCredits {
      margin-bottom: 2rem;
    }
    .popupTextLinks {
      h4 {
        margin-bottom: 1rem;
      }
      .outLinks,
      .inLinks {
        margin-bottom: 0;
        font-style: italic;
      }
    }
  }
  .closeButton {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 100px;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: 700;
    color: globals.$color-1;
    background-color: globals.$color-2;
    border: 2px solid globals.$color-1;
    cursor: pointer;
  }
}

// MOBILES DEVICES //

@media screen and (max-width: 480px) {
  .popupContainer {
    .popupTitle {
      font-size: 1.4rem;
    }
    .popupText {
      margin-bottom: 60px;
      font-size: 1.2rem;
      
    }
    .closeButton {
      bottom: -4.5rem;
      font-size: 1.2rem;
    }
  }
}
