@use "../globals.module.scss" as globals;

.container {
  width: 70%;
  height: 350px;
  margin: 0 auto;
  margin-top: 5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .pictureContainer {
    height: 310px;
    position: relative;
    .imgLink {
      .img {
        height: 100%;
        border: 0.5px solid globals.$color-2;
        object-fit: contain;
        cursor: pointer;
      }
    }
    .legals {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      height: 310px;
      background-color: rgba(0, 0, 0, 0.8);
      p {
        margin-bottom: 2rem;
        font-size: 1.1rem;
        font-weight: 300;
        color: globals.$color-2;
      }
      &:hover {
        border: 0.5px solid globals.$color-2;
        opacity: 1;
        transition: all 0.4s ease;
      }
    }
  }
  .arrowsAndCounter {
    display: flex;
    margin-top: 2rem;
    .leftArrow {
      margin-right: 2rem;
      font-size: 1.4rem;
      font-weight: 100;
      color: globals.$color-2;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: grey;
        transform: scale(1.1);
      }
    }
    .counter {
      font-family: globals.$font-family-2;
      font-size: 1.4rem;
      font-weight: bold;
    }
    .rightArrow {
      margin-left: 2rem;
      font-size: 1.4rem;
      font-weight: 100;
      color: globals.$color-2;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: grey;
        transform: scale(1.1);
      }
    }
    .hiddenArrow {
      display: none;
    }
  }
}

// SMALL SCREENS, LAPTOPS //

// IPADS, TABLETS //

@media screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    margin-top: 0;
    .img {
      width: auto;
      height: 250px;
      object-fit: cover;
    }
  }
}

// MOBILE DEVICES (CUSTOM) //

@media screen and (min-width: 380px) and (max-width: 480px) {
  .container {
    margin-top: 0;
    .img {
      width: auto;
      height: 250px;
      object-fit: cover;
    }
  }
}

@media screen and (min-width: 290px) and (max-width: 379px) {
  .container {
    margin-top: 0;
    .img {
      // width: 290px;
      // height: auto;
      max-width: 290px;
      height: 250px;
      object-fit: contain;
      border: none;
    }
  }
}
