@use "../globals.module.scss" as globals;

// DESKTOP //

.container {
  width: 100%;
  margin-bottom: 5rem;
  padding: 5rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  .aboutCompany {
    position: relative;
    padding: 0 10rem;
    h2 {
      text-align: center;
      text-transform: uppercase;
      font-size: 2.5rem;
      font-weight: 300;
      letter-spacing: 2rem;
      margin-bottom: 5rem;
    }
    p {
      font-size: 1.5rem;
      text-align: justify;
      margin: 0 auto;
      margin-bottom: 1.5rem;
      &:last-child {
        margin-top: 2rem;
        float: right;
        text-transform: uppercase;
        font-family: serif;
      }
      span {
        font-style: italic;
      }
    }
  }
  .aboutDancers {
    width: 90%;
    margin-top: 15rem;
    h2 {
      text-align: center;
      text-transform: uppercase;
      font-size: 2.5rem;
      font-weight: 300;
      letter-spacing: 2rem;
      margin-bottom: 5rem;
    }
    .sectionsContainer {
      display: flex;
      justify-content: space-around;
      margin: 0 auto;
      .larbiSection,
      .margotSection {
        width: 30%;
        position: relative;
        h3 {
          font-weight: 300;
          font-size: 2rem;
          font-family: serif;
          margin-bottom: 2rem;
        }
        p {
          text-align: justify;
          font-size: 1.5rem;
          margin-bottom: 1.5rem;
        }
      }
      .larbiSection {
        position: relative;
        .pictureContainer {
          position: absolute;
          width: 15rem;
          height: 15rem;
          top: 4.5rem;
          left: -17rem;
          .img {
            img {
              width: 15rem;
              height: 15rem;
              object-fit: cover;
            }
          }
          .legals {
            position: absolute;
            top: 0;
            left: 0;
            width: 15rem;
            height: 15rem;
            background-color: rgba(0, 0, 0, 0.6);
            display: flex;
            justify-content: center;
            align-items: flex-end;
            visibility: hidden;
            cursor: pointer;
            p {
              font-size: 1.2rem;
              color: globals.$color-2;
            }
          }
          &:hover .legals {
            visibility: visible;
          }
        }
      }
      .margotSection {
        position: relative;
        .pictureContainer {
          position: absolute;
          width: 12rem;
          height: 12rem;
          top: 4.5rem;
          right: -14rem;
          .img {
            img {
              width: 15rem;
              height: 15rem;
              object-fit: cover;
            }
          }
          .legals {
            position: absolute;
            top: 0;
            left: 0;
            width: 15rem;
            height: 15rem;
            background-color: rgba(0, 0, 0, 0.6);
            display: flex;
            justify-content: center;
            align-items: flex-end;
            visibility: hidden;
            cursor: pointer;
            p {
              font-size: 1.2rem;
              color: globals.$color-2;
            }
          }
          &:hover .legals {
            visibility: visible;
          }
        }
      }
    }
  }
}

// SMALL SCREENS, LAPTOPS //

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    .aboutCompany {
      padding: 0 5rem;
      h2 {
        font-size: 2.2rem;
      }
      p {
        font-size: 1.4rem;
      }
    }
    .aboutDancers {
      margin-top: 12rem;
      h2 {
        font-size: 2.2rem;
      }
      .sectionsContainer {
        width: 90%;
        .larbiSection,
        .margotSection {
          width: 40%;
          p {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}

// INTERMEDIATE QUERIES //

@media screen and (min-width: 450px) and (max-width: 650px) {
  .container {
    .aboutDancers {
      .sectionsContainer {
        padding: 0;
        margin-top: 18rem;
        .larbiSection {
          width: 100%;
          .pictureContainer {
            position: absolute;
            top: -12rem;
            left: 16rem;
          }
        }
        .margotSection {
          margin-top: 16rem;
          width: 100%;
          .pictureContainer {
            position: absolute;
            top: -12rem;
            left: 16rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 290px) and (max-width: 449px) {
  .container {
    .aboutDancers {
      .sectionsContainer {
        margin-top: 20rem;
        .larbiSection {
          .pictureContainer {
            position: absolute;
            top: -16rem;
            left: 0;
          }
        }
        .margotSection {
          margin-top: 16rem;
          .pictureContainer {
            position: absolute;
            top: -16rem;
            left: 0;
          }
        }
      }
    }
  }
}

// IPADS, TABLETS // & // MOBILE DEVICES //

@media screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    padding: 3rem 3rem;
    .aboutCompany {
      padding: 0 3rem;
      h2 {
        font-size: 1.8rem;
        letter-spacing: 1.8rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
    .aboutDancers {
      margin-top: 12rem;
      h2 {
        font-size: 1.8rem;
        letter-spacing: 1.8rem;
      }
      .sectionsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        .larbiSection,
        .margotSection {
          width: 50%;
          margin-bottom: 2rem;
          p {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

// MOBILE DEVICES //

@media screen and (min-width: 290px) and (max-width: 480px) {
  .container {
    padding: 3rem 3rem;
    .aboutCompany {
      padding: 0 3rem;
      h2 {
        font-size: 1.3rem;
        letter-spacing: 1.3rem;
        margin-bottom: 3rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
    .aboutDancers {
      margin-top: 8rem;
      h2 {
        font-size: 1.3rem;
        letter-spacing: 1.3rem;
      }
      .sectionsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        .larbiSection,
        .margotSection {
          width: 100%;
          margin-bottom: 2rem;
          h3 {
            font-size: 1.4rem;
          }
          p {
            font-size: 1.2rem;
          }
          .pictureContainer {
            img {
              width: 10rem;
            }
            p {
              display: block;
              width: 8rem;
            }
          }
        }
      }
    }
  }
}
