@use "../globals.module.scss" as globals;

// DESKTOP //

.container {
  width: 100%;
  height: 100vh;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .text {
    position: absolute;
    top: 7rem;
    left: 50%;
    transform: translateX(-50%);
    .errorType {
      color: globals.$color-2;
      text-transform: uppercase;
      font-size: 2.5rem;
      font-weight: 300;
      letter-spacing: 2rem;
      margin-bottom: 5rem;
      text-align: center;
    }
    .details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .errorDescription {
        color: globals.$color-2;
        font-size: 2rem;
        font-weight: 300;
        margin-bottom: 3rem;
        text-align: center;
      }
      .backHome {
        color: globals.$color-2;
        font-size: 1.5rem;
        font-weight: 300;
        padding: 0.5rem 0;
        position: relative;
        text-align: center;
        &:after {
          content: "";
          background: globals.$color-2;
          display: block;
          position: absolute;
          bottom: 0rem;
          left: 50%;
          height: 1px;
          width: 0;
          transition: width 0.3s ease 0s, left 0.3s ease 0s;
        }
        &:hover:after {
          width: 100%;
          left: 0;
        }
      }
    }
  }
}

// SMALL SCREENS, LAPTOPS //

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    .text {
      .errorType {
        font-size: 2.2rem;
        letter-spacing: 2rem;
        margin-bottom: 5rem;
      }
      .details {
        .errorDescription {
          font-size: 1.8rem;
          margin-bottom: 3rem;
        }
        .backHome {
          color: globals.$color-2;
          font-size: 1.5rem;
        }
      }
    }
  }
}

// IPADS, TABLETS //

@media screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    .text {
      .errorType {
        font-size: 1.8rem;
        letter-spacing: 1.8rem;
        margin-bottom: 4rem;
      }
      .details {
        .errorDescription {
          font-size: 1.6rem;
          margin-bottom: 2rem;
        }
        .backHome {
          color: globals.$color-2;
          font-size: 1.4rem;
        }
      }
    }
  }
}

// MOBILE DEVICES //

@media screen and (max-width: 480px) {
  .container {
    .text {
      .errorType {
        font-size: 1.6rem;
        letter-spacing: 1.6rem;
        margin-bottom: 3rem;
      }
      .details {
        .errorDescription {
          font-size: 1.4rem;
          margin-bottom: 0;
        }
        .backHome {
          margin-top: 26rem;
          color: globals.$color-2;
          font-size: 1.3rem;
        }
      }
    }
  }
}
