@use "../globals.module.scss" as globals;

// DESKTOP //

.container {
  text-align: center;
  padding: 7rem 6rem;
  height: fit-content;
  h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 2rem;
    margin-bottom: 8rem;
  }
  .cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    .card {
      width: 160px;
      height: 200px;
      border-left: 1px solid globals.$color-1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left: 2rem;
      margin: 4rem 3rem;
      position: relative;
      .logo {
        width: 14rem;
        height: 14rem;
        object-fit: contain;
        padding-left: 2rem;
      }
      .partnerName {
        background-color: globals.$color-1;
        opacity: 0;
        width: 160px;
        height: 160px;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.5s;
        margin-left: 2rem;
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        p {
          color: globals.$color-2;
          font-family: globals.$font-family-1;
          font-size: 1.4rem;
          width: 100%;
          padding: 1rem;
          margin-bottom: 3rem;
        }
        &:hover {
          opacity: 0.8;
          color: globals.$color-2;
        }
      }
    }
  }
}

// SMALL SCREENS, LAPTOPS //

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    h1 {
      font-size: 2.2rem;
    }
  }
}

// IPADS, TABLETS //

@media screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    h1 {
      font-size: 1.8rem;
      letter-spacing: 1.8rem;
    }
  }
}

// MOBILE DEVICES //

@media screen and (min-width: 290px) and (max-width: 480px) {
  .container {
    padding: 7rem 2rem;
    h1 {
      font-size: 1.3rem;
      letter-spacing: 1.3rem;
      margin-bottom: 3rem;
    }
  }
}
