// VARIABLES

$color-1: black; 
// $color-2:
// $color-3:
// $color-4:

$font-family-1: sans-serif;
// $font-family-2:

// $radius-xs:
// $radius-s:
// $radius-m:
// $radius-l:
// $radius-xl:

// MIXINS

// KEYFRAMES


// STYLES GLOBAUX APPLIQUÉS À L'ENSEMBLE DU SITE

:root {
  // 1rem = 10px
  font-size: 62.5%;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  font-family: $font-family-1;
}

a {
  text-decoration: none;
  color: $color-1;
  cursor: pointer;
}

a:visited {
  color: $color-1;
}

li {
  list-style-type: none;
}